.About {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 20px 20px 20px;
}

.About h2 {
  margin-bottom: 50px;
}

.About p {
  font-size: 16px;
  padding-bottom: 15px;
}

.About img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.About .about-section {
  margin-bottom: 60px;
}

.Education a {
  font-family: "Staatliches", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: black;
  color: white;
  margin-top: 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.Education .about-last-paragraph {
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .About {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .About {
    text-align: center;
  }

  .About p {
    font-size: 14px;
  }
}
