body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Staatliches", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.App-main {
  max-width: 1200px;
  margin: 0 auto;
}

.about-section {
  background-color: #e5e5e5;
}

span {
  color: #ff0000;
  opacity: 0.6;
}

@media (max-width: 992px) {
  .App-main {
    padding: 20px;
  }
}

/*
header h1 {
  font-weight: 700;
  font-size: 72px;
  margin: 50px 0;
  line-height: 1;
  text-align: center;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
  opacity: 0.3;
}

header h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 70px;
}

section {
  background-color: white;

  padding: 100px 50px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.first-main-section {
  background-color: #e5e5e5;
}

.second-main-section {
  background-color: white;
}

p {
  margin: 0;
  line-height: 1.5;
  text-align: left;
}
*/
