body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Staatliches", sans-serif;
  letter-spacing: 1px;
}

h2 {
  font-size: 60px;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  text-align: justify;
  width: 100%;
}

strong {
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: blueviolet;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.AboutSection {
  background-color: rgba(173, 216, 230, 0.3);
}

.ProjectsSection {
  background-color: white;
}

.ContactSection {
  background-color: rgba(173, 216, 230, 0.3);
}

.Red {
  color: #ff0000;
  opacity: 0.7;
  font-weight: bold;
}

.Yellow {
  background-color: #fdfd96;
}
