nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: black;
  padding: 0 20px;
  color: white;
}

.NavLinks {
  height: 8vh;
}

.NavLinks .links:hover {
  cursor: pointer;
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
}

.MobileNavigation {
  display: none;
}

@media (max-width: 700px) {
  .DesktopNavigation {
    display: none;
  }

  .MobileNavigation {
    display: flex;
    align-items: center;
    height: 8vh;
  }

  .NavLinks ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    border-top: 3px solid white;
    top: 8vh;
    right: 0;
    height: 40vh;
    width: 100%;
    background: black;
    margin-top: 0;
  }
}
