.Projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px 20px 20px;
}

.Projects h2 {
  margin-bottom: 50px;
}

.Projects h3 {
  font-size: 24px;
}

.Projects p {
  font-size: 16px;
  padding-bottom: 15px;
}

.Projects a {
  font-family: "Staatliches", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: black;
  color: white;
  margin-top: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 10px;
}

.projects-paragraph {
  padding-top: 30px;
}

.Projects .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 0 0 0;
  column-gap: 30px;
  row-gap: 55px;
  margin-bottom: 60px;
}

.Projects img {
  margin-left: 0;
}

@media (max-width: 900px) {
  .Projects {
    padding: 20px;
  }
  .Projects h2 {
    text-align: center;
  }

  .Projects .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px 0 20px 0;
    column-gap: 30px;
    row-gap: 35px;
    margin-bottom: 0;
  }
}
